Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-identifier-naming,
  google-*,
  -google-runtime-references
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:     none
